<mat-expansion-panel disabled hideToggle expanded class="repository" [expanded]="expanded ? 'true' : undefined">
  <mat-expansion-panel-header [expandedHeight]="'60px'" [collapsedHeight]="'60px'" [class.collapsed]="!expanded">
    <div class="header">
      <div class="download-progress" *ngIf="model.state === 'updating'">
        <div style="width:56%"></div>
      </div>
      <div class="column">
        <svg width="8" height="6" viewBox="0 0 8 6">
          <rect fill="#FFF" width="8" height="2" x="0" y="0"></rect>
          <rect fill="#FFF" width="8" height="2" x="0" y="4"></rect>
        </svg>
        <img *ngIf="model.picture != ''; else defaultpicture" />
        <ng-template #defaultpicture>
          <div class="defaultpicture" (click)="expanded = !expanded;"></div>
        </ng-template>
        <div>
          <span class="adler-label">Repo</span>
          <span class="adler-big-text">{{model.name}}</span>
          <ng-container [ngSwitch]="model.state">
            <div *ngSwitchCase="'update-needed'">
              <mat-icon color="warn" class="adler-label">error_outline</mat-icon>
              <span class="adler-label">Update nötig</span>
            </div>
            <div *ngSwitchCase="'up-to-date'">
              <mat-icon color="accent" class="adler-label">check</mat-icon>
              <span class="adler-label">vor 5 Minuten aktualisiert</span>
            </div>
            <div *ngSwitchCase="'looking-for-updates'">
              <mat-spinner  color="primary" [diameter]="12" style="margin-top: -1px;"></mat-spinner>
              <span class="adler-label">Suche nach Updates...</span>
            </div>
            <div *ngSwitchCase="'updating'">
              <mat-spinner color="warn" [diameter]="12" style="margin-top: -1px;"></mat-spinner>
              <span class="adler-label">56% | 5 MBit/s</span>
            </div>
            <div *ngSwitchCase="'queued'">
              <mat-icon color="warn" class="adler-label">update</mat-icon>
              <span class="adler-label">Eingereiht</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="column">
        <div>
          <span class="adler-label">Ausgewähltes Modset</span>
          <span class="adler-big-text">{{model.modset.name}}</span>
        </div>
      </div>
      <div class="column">
        <button *ngIf="model.state == 'update-needed'" mat-icon-button color="warn">
          <mat-icon>get_app</mat-icon> 
        </button>
        <button *ngIf="model.state == 'updating'" mat-icon-button color="warn">
          <mat-icon>close</mat-icon> 
        </button>
        <button *ngIf="model.state == 'queued'" mat-icon-button color="warn">
          <mat-icon>close</mat-icon> 
        </button>
        <button mat-icon-button color="primary">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="content">

    <div class="heading">
      <span class="adler-label">Ausgewählter Server</span>
      <mat-icon class="adler-label">help</mat-icon>
    </div>
    <div class="server">
        <mat-form-field>
          <mat-select value="0">
            <mat-option value="0">
              arma.gruppe-adler.de:2302
            </mat-option>
            <mat-option value="1">
              arma.gruppe-adler.de:2402
            </mat-option>
          </mat-select>
        </mat-form-field>
      <button mat-stroked-button color="primary">
        <span>Server</span>
        </button>
    </div>

    <div class="heading">
      <span class="adler-label">Events</span>
      <mat-icon class="adler-label">help</mat-icon>
    </div>
    <div>
      <app-modset *ngFor="let event of model.events" [model]="event" [selected]="(event == model.modset)" (onSelect)="onSelectModset($event)"></app-modset>
    </div>

    <div *ngIf="model.modsets.length > 0" class="heading">
      <span class="adler-label">Modsets</span>
      <mat-icon class="adler-label">help</mat-icon>
    </div>
    <div *ngIf="model.modsets.length > 0" class="modsets">
      <app-modset *ngFor="let modset of model.modsets" [model]="modset" [selected]="(modset == model.modset)"  (onSelect)="onSelectModset($event)"></app-modset>
    </div>

    <div class="add">
      <button mat-button>
        <mat-icon>add</mat-icon>
          <span>Modset hinzufügen</span>
      </button>
    </div>
  </div>
</mat-expansion-panel>