<mat-expansion-panel disabled hideToggle [expanded]="model.expanded ? 'true' : undefined" class="modset">
  <mat-expansion-panel-header [class.collapsed]="!model.expanded" [expandedHeight]="'40px'" [collapsedHeight]="'40px'">
    <mat-panel-title>
      <mat-radio-button color="primary" [checked]="selected ? true : undefined" (click)="onSelectClicked($event);"></mat-radio-button>
      <span>{{model.name}}</span>
      <button mat-icon-button (click)="model.expanded = !model.expanded">
        <mat-icon>{{model.expanded ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
      </button>
    </mat-panel-title>
    <mat-panel-description>
      <span>Aktuell halten</span>
      <mat-slide-toggle color="primary"></mat-slide-toggle>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-chip-list>
    <app-mod *ngFor="let mod of model.mods" [model]="mod"></app-mod>
  </mat-chip-list>
</mat-expansion-panel>
