<div class="topbar">
  <button mat-button>
      <mat-icon>refresh</mat-icon>
      <span>Aktualisieren</span>
  </button>
  <button mat-button>
      <mat-icon>settings</mat-icon>
      <span>Einstellungen</span>
  </button>
</div>
<app-repository *ngFor="let repo of repositoryService.repos" [model]="repo"></app-repository>
<button class="addRepo" mat-button>
    <mat-icon>add</mat-icon>
    <span>Repo hinzufügen</span>
</button>
<!-- <img class="noRepos" *ngIf="repositoryService.repos.length == 0" src="assets/noRepos.png" /> -->
