@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$adler-warn: (
    50: #faf9e5,
    100: #f4eebe,
    200: #ebe294,
    300: #e4d76c,
    400: #e0d14f,
    500: #dbca32,
    600: #d8b92e,
    700: #d5a327,
    800: #d18d1f, //Adler Orange
    900: #c96812,
    A100: #d18d1f,
    A200: #d18d1f,
    A400: #d18d1f,
    A700: #d18d1f,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$adler-accent: (
    50: #eaf4eb,
    100: #cde4ce,
    200: #aed3b0,
    300: #8fc392,
    400: #7ab67c,
    500: #66aa66, //Gastspieler Grün
    600: #5d9b5d,
    700: #528952,
    800: #497848,
    900: #395938,
    A100: #66aa66,
    A200: #66aa66,
    A400: #66aa66,
    A700: #66aa66,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$adler-primary: (
    50: #e2f5fd,
    100: #b5e5f9,
    200: #87d4f5,
    300: #5cc3f0,
    400: #41b6ed,
    500: #32a9ea,
    600: #2d9bdb, //primary
    700: #2788c7,
    800: #2477b3,
    900: #1c5891, 
    A100: #2d9bdb,
    A200: #2d9bdb,
    A400: #2d9bdb,
    A700: #2d9bdb,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

// custom background and foreground palettes
$custom-dark-theme-background: (
    status-bar: red,
    app-bar:    red,
    background: black, //changed
    hover:      #414243,
    card:       #333333,
    dialog:     red,
    disabled-button: red,
    raised-button: red,
    focused-button: red,
    selected-button: red,
    selected-disabled-button: red,
    disabled-button-toggle: red,
    unselected-chip: #414243,
    disabled-list-option: red
);

$custom-dark-theme-foreground: (
  base:              white,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba(white, 0.3),
  disabled-text:     $light-disabled-text,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-secondary-text,
  icon:              white,
  icons:             white,
  text:              white,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-custom-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $custom-dark-theme-foreground,
    background: $custom-dark-theme-background
  );
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$adler-primary: mat-palette($adler-primary, 600);
$adler-accent:  mat-palette($adler-accent, 500);
$adler-warn:  mat-palette($adler-warn, 800);

// Create the theme object (a Sass map containing all of the palettes).
$adler-dark-theme: create-custom-theme($adler-primary, $adler-accent, $adler-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($adler-dark-theme);