@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$adler-primary: (
    50: #D18D1F,
    100: #D18D1F,
    200: #D18D1F,
    300: #D18D1F,
    400: #D18D1F,
    500: #D18D1F,
    600: #D18D1F,
    700: #D18D1F,
    800: #D18D1F,
    900: #D18D1F,
    A100: #D18D1F,
    A200: #D18D1F,
    A400: #D18D1F,
    A700: #D18D1F,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$adler-accent: (
    50: #2D9CDB,
    100: #2D9CDB,
    200: #2D9CDB,
    300: #2D9CDB,
    400: #2D9CDB,
    500: #2D9CDB,
    600: #2D9CDB,
    700: #2D9CDB,
    800: #2D9CDB,
    900: #2D9CDB,
    A100: #2D9CDB,
    A200: #2D9CDB,
    A400: #2D9CDB,
    A700: #2D9CDB,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);
  

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$adler-dark-primary: mat-palette($adler-primary);
$adler-dark-accent:  mat-palette($adler-accent);

// The warn palette is optional (defaults to red).

// Create the theme object (a Sass map containing all of the palettes).
$adler-dark-theme: mat-dark-theme($adler-dark-primary, $adler-dark-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($adler-dark-theme);

// @import '~@angular/material/prebuilt-themes/purple-green.css';